.header {
    max-width: 1052px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding-top: 92px;
    padding-bottom: 96px;
}

.header__menu {
    width: 387px;
    margin-left: 26px;
}

.header__links-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
}

.header__links-list-item {
    font-size: 18px;
    list-style: circle;
}
.header__links-list-item_no-bullit {
    list-style-type: none;
}
.header__link_active {
    text-decoration: none;
}
.header__link {
    border-bottom: 1px solid;
    text-decoration: none;
}

.header__logo {
    width: 148px;
    display: flex;
    justify-content: center;
}
.header__logo-image {
    display: block;
    width: 130px;
    height: 104px;
    object-fit: cover;
}
.address {
    margin-right: 25px;
    font-size: 18px;
    width: 240px;
    font-style: normal;
    line-height: 1.3em;
    justify-self: right;
    
}
.header__address {
    
}
.address__size_link {
    text-decoration: none;
    border-bottom: 1px solid;
}
.address__size_text {
    
}


/* Cover */

.cover {
    font-family: Raleway, sans-serif;
    position: relative;
    text-transform: uppercase;
    width: 1100px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover__title {
    padding: 165px 50px 128px 50px;
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 100px;
    font-style: normal;
    line-height: 115px;
    letter-spacing: 30px;   
  }

.aligned-text {
    display: block; 
  }
  
  .aligned-text_center {
    padding-top: 13px;
    text-align: center;
  }
  
  .aligned-text_right {
    padding-top: 3px;
    text-align: right;
  }
  
  .letter-spacing-extended {
    letter-spacing: 60px;
  }
  
  .no-letter-spacing {
    letter-spacing: 0;
  }